*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
}

header{
    height: 70px;
    line-height: 70px;
}

header img{
    vertical-align: text-bottom;
    margin-left: 1rem;
    padding-right: 1rem;
}

header nav{
    display: inline-block;
}

header nav li{
    display: inline;
    margin: 0 1rem;
}

header nav a{
    text-decoration: none;
    color: black;
}

header a.button{
    margin: 0 1rem;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.button{
    text-decoration: none;
    font-size: 0.9rem;
    color: white;
    background-color: rgb(0,107,251);
    padding: 0.3rem 1rem;
}

.container{
    width: 80%;
    min-width: 500px;
    margin: 0 auto;
    background-color: silver;
}

.main-starter{
    margin: 200px 0 50px;
}

.section-col{
    width: calc((100% - 60px) / 3);
    height: 700px;
    display: inline-block;
    background-color: darkgoldenrod;
}

.section-image{
    width: 55%;
    height: 300px;
    background-color: darkmagenta;
}

.section-text{
    width: 45%;
    height: 200px;
    background-color:orange;
}

section#jumbotron{
    width: 100%;
    height: calc(100vh - 80px);
    background-color: salmon;
}

#standard{
    margin: 0 30px;
}

#enterprice{
    width: 100%;
    height: 150px;
    background-color: darkgreen;
    margin: 50px 0 100px;
}
