*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    height: 80px;
    background-color: yellowgreen;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.float{
    float: left;
}

.container{
    width: 80%;
    max-width: 1180px;
    margin: 0 auto;
    background-color: silver;
}

.main-starter{
    margin: 200px 0 50px;
}

.section-col{
    width: calc((100% - 60px) / 3);
    height: 700px;
    display: inline-block;
    background-color: darkgoldenrod;
}

.section-image{
    width: 55%;
    height: 300px;
    background-color: darkmagenta;
}

.section-text{
    width: 45%;
    height: 200px;
    background-color:orange;
}

#jumbotron{
    width: 100%;
    height: 100vh;
    background-color: salmon;
}

#standard{
    margin: 0 30px;
}

#enterprice{
    width: 100%;
    height: 150px;
    background-color: darkgreen;
    margin: 50px 0 100px;
}
