*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
    min-width: 1050px;
}

header{
    height: 70px;
    line-height: 70px;
}

header
img{
    vertical-align: text-bottom;
    margin-left: 1rem;
    padding-right: 1rem;
}

header
nav{
    display: inline-block;
}

header
nav li{
    list-style: none;
    display: inline;
    margin: 0 1rem;
}

header
nav a{
    text-decoration: none;
    color: black;
}

header
a.button{
    margin: 0 1rem;
}

main
section
h2{
    font-size: 2.5rem;
}

footer{
    color: white;
    background-color: black;
    margin-top: 100px;
}

footer
nav{
    width: 20%;
    height: 175px;
}

footer
nav h4{
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

footer
nav li{
    list-style: none;
    line-height: 1.7rem;
    font-size: 0.8rem;
}

footer
nav a,#language{
    text-decoration: none;
    color: white;
}

footer
#language{
    color: gray;
    font-size: 0.8rem;
    border-top: 1px solid lightgray;
    padding: 2rem 2rem 2rem 0;
    margin-top: 100px;
}

footer
#language
i.fa-globe-europe{
    color: lightgray
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.button{
    text-decoration: none;
    font-size: 0.9rem;
    color: white;
    background-color: rgb(0,107,251);
    padding: 0.3rem 1rem;
}

.white-button{
    background-color: white;
    color: black;
    border: 1px solid black;
}

.large-button{
    text-decoration: none;
    font-size: 0.9rem;
    border: transparent;
    padding: 0.3rem 2rem;
}

.large-container{
    width: 90%;
    margin: 0 auto;
    padding: 5rem 2rem 0;
    position: relative;
}

.container{
    width: 75%;
    margin: 0 auto;
}

.underline{
    text-decoration: underline;
}

.bg-lightgreen{
    background-color: rgb(163,210,158);
}

.bg-bordeaux{
    background-color: rgb(87,7,37);
}

.bg-lightblue{
    background-color: rgb(0,150,204);
}

.bg-red{
    background-color: rgb(255,20,29);
}

.bg-darkred{
    background-color: rgb(215,0,31);
}

.bg-lightsteelblue{
    background-color: rgb(178,209,230);
}

.bg-darkblue{
    background-color: rgb(0,43,127);
}

.bg-yellow{
    background-color: rgb(255,213,67);
}

section#jumbotron{
    width: 100%;
    height: calc(100vh - 70px);
    background-color: rgb(178,209,230);
}

section#jumbotron
h1{
    font-size: 4.5rem;
}

section#jumbotron
.jumbotron-text{
    width: 35%;
    padding-top: 2rem;
}

section#jumbotron
p{
    margin: 1rem 0 2rem;
}

section#jumbotron
img{
    width: 60%;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translateY(50%);
}

section#jumbotron
i.fa-arrow-down{
    font-size: 2rem;
}

section#subscriptions{
    margin: 200px 0 100px;
}

section#subscriptions
form{
    margin: 50px 0 30px;
}

section#subscriptions
.vertical-col{
    width: calc((100% - 100px) / 3);
    height: 700px;
    border: 1px solid black;
    display: inline-block;
}

section#subscriptions
.vertical-col:nth-of-type(2){
    margin: 0 50px;
}

section#subscriptions
.orizontal-col{
    width: 100%;
    height: 200px;
    border: 1px solid black;
    margin: 50px 0 100px;
}

section#subscriptions
.top-col{
    width: 100%;
    line-height: 50px;
    text-align: center;
    border-bottom: 1px solid black;
}

section#subscriptions
.section-image{
    width: 55%;
}

section#subscriptions
.section-text{
    width: 45%;
    padding: 2rem 2rem;
}

section#subscriptions
.section-text
h3{
    font-size: 1.5rem;
}

section#subscriptions
.section-text
p{
    line-height: 2rem;
    margin: 2rem 0;
}

section#operations
.card{
    width: calc(100% / 3);
    padding: 2rem;
}

section#operations
.card
img{
    width: 100%;
}

section#operations
.card
p{
    line-height: 1.3rem;
    margin-top: 20px;
}

section#operations
#operations-footer{
    width: 52%;
    margin: 200px 0 50px;
}

section#operations
#operations-footer
h2{
    margin-bottom: 30px;
}

section#partner{
    width: 100vw;
    background-color: rgb(178,209,230);
}

section#partner
.partner-cards{
    width: 30vw;
    height: 30vw;
}

section#partner
.partner-cards
.company{
    width: 50%;
    height: 50%;
    position: relative;
}

section#partner
.partner-cards
img{
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    filter: invert(1);
}

section#partner
.partner-text{
    width: 40vw;
    height: 30vw;
    background-color: rgb(245,245,245);
    padding: 3rem;
    overflow: auto;
}

section#partner
.partner-text
img{
    width: 110px;
    height: 35px;
}

section#partner
.partner-text
p{
    line-height: 1.3rem;
    margin: 4rem 0 3rem;
}

section#partner
#partner-footer{
    width: 100%;
    padding: 5rem 0;
}

section#partner
#partner-footer
.partner-footer-title{
    width: 50%;
    color: rgb(98,8,42)
}

section#partner
#partner-footer
.partner-footer-button{
    padding-top: 1.5rem;
}

section#faq
.faq-title{
    border-bottom: 1px solid lightgray;
    padding: 100px 0 50px;
}

section#faq
.faq-title
h3{
    font-size: 2rem;
}

section#faq
.question{
    padding: 30px 0;
    border-bottom: 1px solid lightgray;
}

