*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
    min-width: 1050px;
}

header{
    height: 70px;
    line-height: 70px;
}

header
img{
    vertical-align: text-bottom;
    margin-left: 1rem;
    padding-right: 1rem;
}

header
nav{
    display: inline-block;
}

header
nav li{
    display: inline;
    margin: 0 1rem;
}

header
nav a{
    text-decoration: none;
    color: black;
}

header
a.button{
    margin: 0 1rem;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.button{
    text-decoration: none;
    font-size: 0.9rem;
    color: white;
    background-color: rgb(0,107,251);
    padding: 0.3rem 1rem;
}

.large-container{
    width: 90%;
    margin: 0 auto;
    padding: 5rem 2rem;
    position: relative;
}

.container{
    width: 75%;
    margin: 0 auto;
}

section#jumbotron{
    width: 100%;
    height: calc(100vh - 70px);
    background-color: rgb(178,209,230);
}

section#jumbotron
h1{
    font-size: 4.5rem;
}

section#jumbotron
.jumbotron-text{
    width: 35%;
    padding-top: 2rem;
}

section#jumbotron
p{
    margin: 1rem 0 2rem;
}

section#jumbotron
img{
    width: 60%;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translateY(35%);
}

section#jumbotron
i.fa-arrow-down{
    font-size: 2rem;
}

section#subscriptions{
    margin-top: 200px;
}

section#subscriptions
h2{
    font-size: 2.5rem;
}

section#subscriptions
form{
    margin: 50px 0 30px;
}

section#subscriptions
.vertical-col{
    width: calc((100% - 100px) / 3);
    height: 700px;
    border: 1px solid black;
    display: inline-block;
}

section#subscriptions
.vertical-col:nth-of-type(2){
    margin: 0 50px;
}

section#subscriptions
.orizontal-col{
    width: 100%;
    height: 200px;
    border: 1px solid black;
    margin: 50px 0 100px;
}

section#subscriptions
.top-col{
    width: 100%;
    line-height: 50px;
    text-align: center;
    border-bottom: 1px solid black;
}

section#subscriptions
.section-image{
    width: 55%;
}

section#subscriptions
.section-text{
    width: 45%;
    padding: 2rem 2rem;
}

section#subscriptions
.section-text
h3{
    font-size: 1.5rem;
}

section#subscriptions
.section-text
p{
    line-height: 2rem;
    margin: 2rem 0;
}

section#subscriptions
.section-text
a.white-button{
    background-color: white;
    color: black;
    border: 1px solid black;
}
